@charset "UTF-8";
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-text-size-adjust: none
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-size: 14px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body {
    font: 14px "Microsoft YaHei", Simsun, sans-serif, Tahoma, Arial, Helvetica;
    line-height: 1.42857143
}

a, body {
    color: #333
}

blockquote, body, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, th, ul {
    word-break: break-all
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

abbr, acronym, fieldset, img {
    border: 0
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-family: normal
}

dd, dl, dt, li, ol, ul {
    list-style: none
}

caption, th {
    text-align: left
}

em, i {
    font-style: normal
}

a, article, aside, dd, div, dl, dt, h1, h2, h3, h4, h5, h6, header, hgroup, input, li, nav, p, section, span, td, th, tr, ul {
    -webkit-tap-highlight-color: transparent;
    appearance: none
}

article, aside, header, hgroup, nav, section {
    display: block
}

input[type=checkbox], input[type=radio] {
    cursor: pointer
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: 0
}

button {
    cursor: pointer
}

a, a:hover, a:link, a:visited {
    text-decoration: none
}

figure {
    margin: 0
}

img {
    vertical-align: middle
}

hr {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid #eee
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 18px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 12px
}

.h5 {
    height: 5px
}

.h10 {
    height: 10px
}

.h15 {
    height: 15px
}

.h20 {
    height: 20px
}

.h25 {
    height: 25px
}

.h30 {
    height: 30px
}

.h35 {
    height: 35px
}

.h40 {
    height: 40px
}
table {
    width: 100%;
    border-spacing: 0 10px;
    /*border-collapse:separate*/
}
table tr td {
    border: 1px solid #333;
}
hr {
    border-top: 1px solid #333;
}
.p1 a {
    color: #ffffff;
}
.p0 a {
    color: #66cbf3;
}